<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Api.Gax" version="2.10.0" targetFramework="net472" />
  <package id="Google.Api.Gax.Rest" version="2.10.0" targetFramework="net472" />
  <package id="Google.Apis" version="1.42.0" targetFramework="net472" />
  <package id="Google.Apis.Auth" version="1.42.0" targetFramework="net472" />
  <package id="Google.Apis.Core" version="1.42.0" targetFramework="net472" />
  <package id="Google.Apis.Storage.v1" version="1.42.0.1744" targetFramework="net472" />
  <package id="Google.Cloud.Storage.V1" version="2.4.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net472" />
  <package id="System.Interactive.Async" version="3.2.0" targetFramework="net472" />
</packages>