<?xml version="1.0" encoding="utf-8" ?>

<!--config XML follows camelCase-->

<configuration>


  <configSections>
    <!--for custom XML Tages in App.config or Web.config-->
    <section name="Creds" type="System.Configuration.NameValueSectionHandler"/>

  </configSections>

  <!--Custom tag by declaring tag in *configSection* Configuration-->
  <Creds>
    <add key="Username" value="virat.kohli@kannareddy.com" />
    <add key="Password" value="Gg@823543" />
  </Creds>

  <!--Default inbuilt tag Configuration-->
  <appSettings>
    <add key="ProjectPath" value="A:\Repos\CSharp\CSharping\SeleniumAppUnitTest\TestResults\"/>
    <add key="Username" value="virat.kohli@kannareddy.com"/>
    <add key="Password" value="Gg@823543"/>
    <add key="Question" value="Who is virat kohli?"/>
    <add key="Browser" value="Chrome" />
    <add key="TestDate" value="30_12_2019" />
    <!--DD_MM_YYYY-->
    <add key="TestName" value="GoogleSearchEngine" />
  </appSettings>

  <system.web>
  </system.web>
  <startup>
    <!--<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />-->
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.TestTools.UITesting" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>

